@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-primary-1: var(--color-primary-1);
  --color-primary-2: var(--color-primary-2);
  --color-primary-3: var(--color-primary-3);
  --color-primary-4: var(--color-primary-4);
  /* primary/main color */
  --color-primary-5: var(--color-primary-5);
  /* lighter shades of primary color */
  --color-primary-6: var(--color-primary-6);
  --color-primary-7: var(--color-primary-7);
  --color-primary-8: var(--color-primary-8);
  --color-primary-9: var(--color-primary-9);
  --color-primary-10: var(--color-primary-10);
  /* darkest grey - used for headings */
  --color-grey-1: var(--color-grey-1);
  --color-grey-2: var(--color-grey-2);
  --color-grey-3: var(--color-grey-3);
  --color-grey-4: var(--color-grey-4);
  /* grey used for paragraphs */
  --color-grey-5: var(--color-grey-5);
  --color-grey-6: var(--color-grey-6);
  --color-grey-7: var(--color-grey-7);
  --color-grey-8: var(--color-grey-8);
  --color-grey-9: var(--color-grey-9);
  --color-grey-10: var(--color-grey-10);
  --color-clr-white: var(--color-white);

  --transition-tt: all 0.3s linear;
  --tracking-spacing: 0.25rem;
  --shadow-md: 0 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 5px 15px rgba(0, 0, 0, 0.2);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --color-primary-1: hsl(184, 91%, 17%);
  --color-primary-2: hsl(185, 84%, 25%);
  --color-primary-3: hsl(185, 81%, 29%);
  --color-primary-4: hsl(184, 77%, 34%);
  /* primary/main color */
  --color-primary-5: hsl(185, 62%, 45%);
  /* lighter shades of primary color */
  --color-primary-6: hsl(185, 57%, 50%);
  --color-primary-7: hsl(184, 65%, 59%);
  --color-primary-8: hsl(184, 80%, 74%);
  --color-primary-9: hsl(185, 94%, 87%);
  --color-primary-10: hsl(186, 100%, 94%);
  /* darkest grey - used for headings */
  --color-grey-1: hsl(209, 61%, 16%);
  --color-grey-2: hsl(211, 39%, 23%);
  --color-grey-3: hsl(209, 34%, 30%);
  --color-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --color-grey-5: hsl(210, 22%, 49%);
  --color-grey-6: hsl(209, 23%, 60%);
  --color-grey-7: hsl(211, 27%, 70%);
  --color-grey-8: hsl(210, 31%, 80%);
  --color-grey-9: hsl(212, 33%, 89%);
  --color-grey-10: hsl(210, 36%, 96%);
  --color-white: #fff;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  --color-primary-1: hsl(184, 91%, 17%);
  --color-primary-2: hsl(185, 84%, 25%);
  --color-primary-3: hsl(185, 81%, 29%);
  --color-primary-4: hsl(184, 77%, 34%);
  /* primary/main color */
  --color-primary-5: hsl(185, 62%, 45%);
  /* lighter shades of primary color */
  --color-primary-6: hsl(185, 57%, 50%);
  --color-primary-7: hsl(184, 65%, 59%);
  --color-primary-8: hsl(184, 80%, 74%);
  --color-primary-9: hsl(185, 94%, 87%);
  --color-primary-10: hsl(186, 100%, 94%);
  /* darkest grey - used for headings */
  --color-grey-1: hsl(209, 61%, 16%);
  --color-grey-2: hsl(211, 39%, 23%);
  --color-grey-3: hsl(209, 34%, 30%);
  --color-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --color-grey-5: hsl(210, 22%, 49%);
  --color-grey-6: hsl(209, 23%, 60%);
  --color-grey-7: hsl(211, 27%, 70%);
  --color-grey-8: hsl(210, 31%, 80%);
  --color-grey-9: hsl(212, 33%, 89%);
  --color-grey-10: hsl(210, 36%, 96%);
  --color-white: #fff;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    background: var(--color-clr-white);
    color: var(--color-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
  }

  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  img:not(.nav-logo) {
    width: 100%;
    display: block;
  }

  h1,
  h2,
  h3,
  h4 {
    letter-spacing: var(--tracking-spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-weight: bold;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 0.875rem;
  }
  p {
    margin-bottom: 1.25rem;
    color: var(--color-grey-5);
  }
  @media screen and (min-width: 800px) {
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 2.5rem;
    }
    h3 {
      font-size: 1.75rem;
    }
    h4 {
      font-size: 1rem;
    }
    body {
      font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
      line-height: 1;
    }
  }
}

@utility btn {
  text-transform: uppercase;
  background: var(--color-primary-5);
  color: var(--color-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--tracking-spacing);
  display: inline-block;
  /* font-weight: 700; */
  transition: var(--transition-tt);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
@utility btn-hover {
  color: var(--color-primary-1);
  background: var(--color-primary-8);
}

@utility section {
  padding: 5rem 0;
  scroll-margin-top: 4rem;
}

@utility section-title {
  text-align: center;
  margin-bottom: 4rem;

  h2 {
    text-transform: uppercase;
  }
  span {
    color: var(--color-primary-5);
  }
}

@utility section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;

  @media screen and (min-width: 992px) {
    width: 95vw;
  }
}

/* Adjustments for editor mode */
.section-edit-mode {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

div[data-section-type]:last-child > * {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}
